.a{
    width:1200px;
    height: 150px;
    font-size: 40px;
    color:white;
    background-color: rgb(62, 61, 61);
  margin-left: -10px;
  margin-top: -10px;
}

.b{
    width: 1185px;
    height: auto;
}
#date{
    font-size: 60px;
    margin-top: -810px;
    margin-left: 635px;
    color:grey;
    font-weight: 540;
    
}
#time{
    font-size: 60px;
    margin-top: 100px;

    margin-left: 700px;
    color:grey;
    font-weight: 540;

}
#randomNumber{
    font-size: 60px;
    margin-top: 140px;

    margin-left: 700px;
   
    font-weight: 580;
    opacity: 0.8;
}
.video{
    margin-left: -23px;
}
